<div class="container" style="margin-top: 100px;">
<h1>Editar Subtema</h1>

<%= render 'form', subtheme: @subtheme %>

<%= link_to 'Show', @subtheme %> |
<%= link_to 'Destroy', @topic, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back', subthemes_path %>
</div>
