<div class="header">
  <div class="container">
    <div class="row">
      <div class="header-links">
        <ul>
          <li><a href="/topics">CATEGORIAS</a></li>
          <li><a href="/reasons">PILARES</a></li>
          <li><a href="/themes">TEMAS</a></li>
          <li><a href="/subthemes">SUBTEMAS</a></li>
          <li><a href="/indicators">INDICADORES</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="header-title">
      <h2>Indicadores de la Iniciativa Ciudades
      Emergentes y Sostenibles</h2>
    </div>
  </div>
</div>
<div class="container" style="margin-top: 10px;">
  <p id="notice"><%= notice %></p>
  <h2>Subtemas</h2>
  <hr>
  <div class="table">
    <div class="table-content">
      <% @subthemes.each do |subtheme| %>
      <div class="topic">
        <%= link_to subtheme do %>

        <h3>· <%= subtheme.title %></h3>
        <% end %>
      </div>
      <% end %>
    </div>
  </div>
  <p id="notice"><%= notice %></p>

</div>


