<div class="container" style="padding-top: 150px; ">
<h1>Formulas</h1>
<table>
  <thead>
    <tr>
      <th>Statistic</th>
      <th>Indicator</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @formulas.each do |formula| %>
      <tr>
        <td><%= formula.statistic %></td>
        <td><%= formula.indicator %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
</div>

