<div class="container" style="padding-top: 150px; ">

<p id="notice"><%= notice %></p>

<p>
  <strong>Statistic:</strong>
  <%= @formula.statistic %>
</p>

<p>
  <strong>Indicator:</strong>
  <%= @formula.indicator %>
</p>

<%= link_to 'Back', formulas_path %>
</div>
